.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  padding: 15px;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  min-width: 50%;
}

.fighter-preview___info span {
  display: block;
}

.fighter-preview___info strong {
  text-transform: capitalize;
}

.fighter-preview___img {
  height: 400px;
  max-width: 400px;
}
